$color-general: #2e2a25;
$status-1: #D64545;
$status-2: #B3804F;
$status-3: #61B467;
$gray: #9e9e9e;
//fuente
$font-general: 'Roboto', sans-serif;

//media querys
$landscape: 1367px;
$landscapeMedium: 1281px;
$landscapeSmall: 1101px;
$mobile: 993px;
$mobileMedium: 769px;
$mobileSmall: 577px;
