@import '../../styles/partials/variables';

header{
    padding: 20px 0;
    width: 100%;
    display: block;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.2);
    h2{
        color: $status-3;
        margin: 0;
    }
    button{
        margin-left: 15px;
        &.close-session{
            background-color: $status-1;
            border: 1px solid $status-1;
            &:hover, &.focus, &.active{
                color: $status-1;
                background-color: white;
            }
        }
    }
}

#page-dashboard{
    #tasks-wrapper{
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .first-task-title{
        text-align: center;
        color: $status-3;
        margin-top: 100px;
        padding-bottom: 50px;
        font-size: 2rem;
    }
}